// Config prova

// Manifest
manifest {
  name = 'Scratch'
  author = 'Guido Campani'
  //homePage = 'https://github.com/campaniguido/Scratch.git'
  description = 'Scratch'
  mainScript = 'main.nf'
  nextflowVersion = '>=23.10.1'
  version = '0.1'
}

// Profiles
profiles {

  mamba_local {
    conda.enabled = true
    conda.envPath = '/opt/anaconda3/envs/Mi_To'
  }
  
}

// Processes
process {
    
  errorStrategy = 'retry'
  maxRetries = 3

  
  //
  withName: CONSENSUS_BAM {
    cpus = 1
    memory = '1G'
  }

  withName: CONSENSUS_TSV {
    cpus = 1
    memory = '1G'
  }

}

// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// Tracing
//tower {
  //  enabled = true
//}